@media (min-width: 1441px) {
    .hero {
        padding: 5rem 3rem 7rem;
        h1 {
            font-size: 4rem;
        }
    }
    .video-holder {
        video {
            display: block;
        }
    }
    .header {
        display: flex;
        align-items: center;

        .header__list {
            display: flex;
            .header__item {
                img {
                    height: 50px;
                    width: 12rem;
                }
            }
        }
    }
}