@media (min-width: 1200px) {
    .hero {
        padding: 3rem 3rem 7rem;
        h1 {
            font-size: 4rem;
        }
    }
    .video-holder {
        video {
            display: block;
        }
    }
    .header {
        display: flex;
        align-items: center;
        padding: 2rem 3rem;

        .header__list {
            display: flex;
            .header__item {
                img {
                    height: 50px;
                    max-width: 12rem !important;
                    background: #000;
                }
            }
        }
    }
}