html,
body {
  margin: 0;
  font-family: Suisse, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem 3rem;
  &.home {
    padding-top: 1rem;
  }

  .header__brand {
    cursor: pointer;
    font-size: 3rem;
  }

  .header__list {
    display: flex;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    align-items: center;

    .header__item {
      a {
        margin-right: 1rem;

        img {
          max-width: 12rem;
          height: 50px;
          border: 1px solid #222326;
          border-radius: 1rem;
          &:hover {
            box-shadow: rgb(255 255 255 / 15%) 0px 0px 32px;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

.hero {
  display: block;
  align-items: flex-end;
  padding: 3rem;

  h1 {
    font-weight: 500;
    font-size: 4rem;
    margin: 0;
  }
}
.video-holder {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #000;
  z-index: -1;
  video {
    width: 75vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    float: right;
  }
}
.unicorn-exits {
  font-family: "Migra", serif;
}
.footer {
  padding: 3rem;
  .footer__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    .footer__item {
      a {
        font-size: 2rem;
        font-weight: 500;
        margin-right: 3rem;
        &:hover {
          opacity: .5;
          transition: 0.2s;
        }
      }
    }
  }
}
